/*
------------------------------------------------------------------------------------------------------------------------
 General
------------------------------------------------------------------------------------------------------------------------
*/

.button.mmtl-hide,
.mmtl-hide,
.mmtl-ajax-show-on-complete
{
    display: none;
}

.mmtl-screen .notice
{
    margin: 15px 0;
}

.mmtl-form-group
{
    position: relative;
    margin: 0 0 15px 0;
}

.mmtl-input-group
{
    position: relative;
    display: table;
    border-collapse: separate;
}

.mmtl-col .mmtl-input-group
{
    width: 100%;
}

.mmtl-input-group-addon
{
    display: table-cell;
    vertical-align: middle;
    width: 1px;
    padding: 0 7px;
    line-height: 1;
    font-size: 11px;
    text-align: center;
    color: #999;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
}

.mmtl-input-group-addon:first-child
{
    border-right: 0;
}

.mmtl-input-group-addon:last-child
{
    border-left: 0;
}

.mmtl-input-group-addon .dashicons,
.mmtl-input-group-addon .dashicons:before
{
    width: auto;
    height: auto;
    font-size: inherit;
}

.mmtl-input-group-addon .dashicons
{
    vertical-align: middle;
}

.mmtl-input-group .mmtl-form-control
{
    display: table-cell;
    vertical-align: middle;

    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin: 0;
}

.mmtl-form-group .iris-picker
{
    position: absolute;
    z-index: 99;
}

.mmtl-input-group .iris-picker
{
    top: 28px;
}



/*
------------------------------------------------------------------------------------------------------------------------
 Direction Fields
------------------------------------------------------------------------------------------------------------------------
*/

.mmtl-direction-top
{
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.mmtl-direction-top_right
{
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.mmtl-direction-right
{
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

.mmtl-direction-bottom_right
{
    -ms-transform: rotate(135deg); /* IE 9 */
    -webkit-transform: rotate(135deg); /* Chrome, Safari, Opera */
    transform: rotate(135deg);
}

.mmtl-direction-bottom
{
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.mmtl-direction-bottom_left
{
    -ms-transform: rotate(225deg); /* IE 9 */
    -webkit-transform: rotate(225deg); /* Chrome, Safari, Opera */
    transform: rotate(225deg);
}

.mmtl-direction-left
{
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
}

.mmtl-direction-top_left
{
    -ms-transform: rotate(315deg); /* IE 9 */
    -webkit-transform: rotate(315deg); /* Chrome, Safari, Opera */
    transform: rotate(315deg);
}

/*
------------------------------------------------------------------------------------------------------------------------
 Table Layout
------------------------------------------------------------------------------------------------------------------------
*/

.postbox-container .mmtl-row
{
    margin-left: -7.5px;
    margin-right: -7.5px;
}

.postbox-container .mmtl-col
{
    padding-left: 7.5px;
    padding-right: 7.5px;
}

@media screen and ( max-width: 768px )
{
    .postbox-container .mmtl-col
    {
        margin-top: 7.5px;
        margin-bottom: 7.5px;
    }
}

/*
------------------------------------------------------------------------------------------------------------------------
 Loader
------------------------------------------------------------------------------------------------------------------------
*/

.mmtl-spin 
{
    -webkit-animation: mmtl_spin 1.5s linear infinite;
    -moz-animation: mmtl_spin 1.5s linear infinite;
    animation: mmtl_spin 1.5s linear infinite
}

@-moz-keyframes mmtl_spin 
{
    100% 
    {
        -moz-transform: rotate(360deg)
    }
}

@-webkit-keyframes mmtl_spin 
{
    100% 
    {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes mmtl_spin 
{
    100% 
    {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.mmtl-loader
{
    display: none;
}

.mmtl-loader,
.mmtl-loader > span
{
    line-height: 20px;
    width: 20px;
    height: 20px;
    font-size: 15px;
}

.mmtl-loader > span
{
   margin-top: 4px;
   
}

p.submit .mmtl-loader
{
    margin-left: 5px;
}

/*
------------------------------------------------------------------------------------------------------------------------
 Updater
------------------------------------------------------------------------------------------------------------------------
*/

#mmtl-updater-screen .mmtl-action .dashicons
{
    margin-top: 0;
    margin-left: 5px;
    height: 28px;
    line-height: 28px;
}

#mmtl-updater-screen .mmtl-action#mmtl-action-_finish
{
    display: none;
}

#mmtl-updater-screen th,
#mmtl-updater-screen .mmtl-title-col
{
   white-space: nowrap;
}

#mmtl-updater-screen .mmtl-button-col
{
    text-align: right;
    min-width: 150px;
    height: 29px;
}

#mmtl-updater-screen .mmtl-result
{
    position: relative;
    padding-left: 30px;
}

#mmtl-updater-screen .mmtl-result-icon
{
    position: absolute;
    left: 0;
}

#mmtl-updater-screen .mmtl-result-error
{
    color: #d54e21;
}
